In [1]:
#Learning Python Language
print("Hello, World!")

Hello, World!

In [5]:
#comments
'''Multiple line comments are
 comments that span multiple line of code
they are written by enclosing the comment text in triple 
single or double quotation marks.'''

"""exhibit 
    two """

'exhibit \n    two '

Variables

In [13]:
#Variables
a = "Samuel"
b = "Kikule"
c = "CSC Student"
print(a, b,"is a", c)

greeting = 'Merry Christmas!'
print(greeting)

Samuel Kikule is a CSC Student
Merry Christmas!

In [ ]:
#variable_Names examples
'''
name : a string storing a persons name
age : a string storing a persons age
grades : a list of grades students scored
phonebook : a dictionary storing phone number and names
number 
data1 
data2
fname
lname
stdno
stdnum
Regno '''

In [15]:
#Case sensiitivity
Name = 1
name = 2

print(name , Name)

2 1

In [16]:
#Creating and assigning variables
name = "Samuel" #creates a string variable name and assigns it a value Samuel
age = 27 #creates a integer variable age and assigns it a value 27
print(name, age)

Samuel 27

In [18]:

#assigning multiple varialbles in one line
name, age = "samuel", 28
print(name, age)

samuel 28

In [23]:
#Data Types
x = 3
print(x)
type(x)

3

int

In [24]:
a = 0.256
print(a)
type(a)

0.256

float

In [26]:
b = "my name"
print(b)
type(b)

my name

str

In [28]:
c = [2, 9, 1, 5, 6]
print(c)
type(c)

[2, 9, 1, 5, 6]

list

In [30]:
d = (2, 9, 1, 5, 6)
print(d)
type(d)

(2, 9, 1, 5, 6)

tuple

In [33]:
data = {'name' : "Samuel", 'age' : 27, "course": "CSC" }
print(data)
type(data)

{'name': 'Samuel', 'age': 27, 'course': 'CSC'}

dict

In [38]:
intern_ages = {18, 25, 28, 22, 1, 5, 15, 5, 5}
print(intern_ages)

{1, 18, 5, 22, 25, 28, 15}

In [42]:
#Dynamic Type property of Python Language
n = 3
print(n)
type(n)

n = "Sammie"
print(n)
type(n)

3
Sammie

str

In [54]:
k = "Kikule"
s = "Samuel"
print(s + k)

SamuelKikule

In [55]:
!git init

Initialized empty Git repository in C:/Users/USER/Documents/Python_Projects/.git/

In [57]:
!git add README.md

fatal: pathspec 'README.md' did not match any files