In [1]:
#Learning Python Language
print("Hello, World!")

Hello, World!

In [5]:
#comments
'''Multiple line comments are
 comments that span multiple line of code
they are written by enclosing the comment text in triple 
single or double quotation marks.'''

"""exhibit 
    two """

'exhibit \n    two '

Variables

In [13]:
#Variables
a = "Samuel"
b = "Kikule"
c = "CSC Student"
print(a, b,"is a", c)

greeting = 'Merry Christmas!'
print(greeting)

Samuel Kikule is a CSC Student
Merry Christmas!

In [ ]:
#variable_Names examples
'''
name : a string storing a persons name
age : a string storing a persons age
grades : a list of grades students scored
phonebook : a dictionary storing phone number and names
number 
data1 
data2
fname
lname
stdno
stdnum
Regno '''

In [15]:
#Case sensiitivity
Name = 1
name = 2

print(name , Name)

2 1

In [16]:
#Creating and assigning variables
name = "Samuel" #creates a string variable name and assigns it a value Samuel
age = 27 #creates a integer variable age and assigns it a value 27
print(name, age)

Samuel 27

In [18]:

#assigning multiple varialbles in one line
name, age = "samuel", 28
print(name, age)

samuel 28

In [23]:
#Data Types
x = 3
print(x)
type(x)

3

int

In [24]:
a = 0.256
print(a)
type(a)

0.256

float

In [26]:
b = "my name"
print(b)
type(b)

my name

str

In [28]:
c = [2, 9, 1, 5, 6]
print(c)
type(c)

[2, 9, 1, 5, 6]

list

In [30]:
d = (2, 9, 1, 5, 6)
print(d)
type(d)

(2, 9, 1, 5, 6)

tuple

In [33]:
data = {'name' : "Samuel", 'age' : 27, "course": "CSC" }
print(data)
type(data)

{'name': 'Samuel', 'age': 27, 'course': 'CSC'}

dict

In [38]:
intern_ages = {18, 25, 28, 22, 1, 5, 15, 5, 5}
print(intern_ages)

{1, 18, 5, 22, 25, 28, 15}

In [42]:
#Dynamic Type property of Python Language
n = 3
print(n)
type(n)

n = "Sammie"
print(n)
type(n)

3
Sammie

str

In [54]:
k = "Kikule"
s = "Samuel"
print(s + k)

SamuelKikule

In [2]:
!git init

Reinitialized existing Git repository in C:/Users/USER/Documents/Python_Projects/.git/

In [3]:
!git add .

warning: in the working copy of 'helloworld.ipynb', LF will be replaced by CRLF the next time Git touches it

In [4]:
!git push

Everything up-to-date

#Exercises

In [ ]:
greeting = "Hello, World!"

In [13]:
first_name = "Samuel"
last_name = "Kikule"
fullname = first_name +" "+ last_name
print(fullname)

Samuel Kikule

In [14]:
pi = 3.14159
radius = 5
area = pi * (radius**2)
print(area)

78.53975

In [15]:
person = {"name": "SamueL", "age": 27}

In [28]:
#SHared references
L1 = [1, 2, 2, 3, 4, 5, 6]
L2 = L1 

L2[2] = 300
print(L1)
print(L2)

[1, 2, 300, 3, 4, 5, 6]
[1, 2, 300, 3, 4, 5, 6]

In [31]:
# the 'is' operator returns true of false if two variables share a same reference or not 
x = 10
y = x
z = 11

print(x is y)
print(x is z)

True
False

In [33]:
#the type() function returns the datatype calss to which the parameter belongs
x = 10
y = "Hello"
z = [1, 2, 3]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [34]:
#the isinstance(x, type) returns true or false
x = 10
y = "Hello"
z = [1, 2, 3]
print(isinstance(x, int))
print(isinstance(y, str))
print(isinstance(z, list))

True
True
True

In [35]:
print(isinstance(x, object))
print(isinstance(y, object))
print(isinstance(z, object))

True
True
True

In [39]:
print(type(43))
print(type(3.14))
print(type(2+3j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [46]:
#Operation on Numbers
2 + 3
2.0 + 3.1
3 + 5.2

8.2

In [49]:
5 - 9
4 - 2.56

1.44

In [50]:
9 * 26

234

In [51]:
#Built in Numerical tools
z = 2 + 3j
abs(z)

3.605551275463989

In [52]:
x = 3.14159
round(x, 3)

3.142

In [53]:
import math
math.sin(math.pi/6)

0.49999999999999994

In [54]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base is not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /, *, steps=None)
        Return the floating-point value the given number of steps after x towards y.

        If steps is not specified or is None, it defaults to 1.

        Raises a TypeError, if x or y is not a double, or if steps is not an integer.
        Raises ValueError if steps is negative.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    sumprod(p, q, /)
        Return the sum of products of values from two iterables p and q.

        Roughly equivalent to:

            sum(itertools.starmap(operator.mul, zip(p, q, strict=True)))

        For float and mixed int/float inputs, the intermediate products
        and sums are computed with extended precision.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [64]:
import random
random.randint(1,100)

42

In [70]:
from decimal import Decimal
Decimal('3.14159')
Decimal('3.14159').quantize(Decimal('0.0001'))

Decimal('3.1416')

In [71]:
from fractions import Fraction
Fraction(2, 5)

Fraction(2, 5)

In [72]:
Fraction(2,3) + Fraction(3,2)

Fraction(13, 6)

In [74]:
import cmath
help(cmath)

Help on built-in module cmath:

NAME
    cmath

DESCRIPTION
    This module provides access to mathematical functions for complex
    numbers.

FUNCTIONS
    acos(z, /)
        Return the arc cosine of z.

    acosh(z, /)
        Return the inverse hyperbolic cosine of z.

    asin(z, /)
        Return the arc sine of z.

    asinh(z, /)
        Return the inverse hyperbolic sine of z.

    atan(z, /)
        Return the arc tangent of z.

    atanh(z, /)
        Return the inverse hyperbolic tangent of z.

    cos(z, /)
        Return the cosine of z.

    cosh(z, /)
        Return the hyperbolic cosine of z.

    exp(z, /)
        Return the exponential value e**z.

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two complex numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them must be
        smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard. That is, NaN is
        not close to anything, even itself. inf and -inf are only close to themselves.

    isfinite(z, /)
        Return True if both the real and imaginary parts of z are finite, else False.

    isinf(z, /)
        Checks if the real or imaginary part of z is infinite.

    isnan(z, /)
        Checks if the real or imaginary part of z not a number (NaN).

    log(...)
        log(z[, base]) -> the logarithm of z to the given base.

        If the base is not specified, returns the natural logarithm (base e) of z.

    log10(z, /)
        Return the base-10 logarithm of z.

    phase(z, /)
        Return argument, also known as the phase angle, of a complex.

    polar(z, /)
        Convert a complex from rectangular coordinates to polar coordinates.

        r is the distance from 0 and phi the phase angle.

    rect(r, phi, /)
        Convert from polar coordinates to rectangular coordinates.

    sin(z, /)
        Return the sine of z.

    sinh(z, /)
        Return the hyperbolic sine of z.

    sqrt(z, /)
        Return the square root of z.

    tan(z, /)
        Return the tangent of z.

    tanh(z, /)
        Return the hyperbolic tangent of z.

DATA
    e = 2.718281828459045
    inf = inf
    infj = infj
    nan = nan
    nanj = nanj
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [75]:
cmath.sqrt(-1)

1j

In [ ]:
#Formating the display of numbers, using string formating
#Controlling the number of digits/ allignment/ the sign/grouping etc

In [76]:
!git init

Reinitialized existing Git repository in C:/Users/USER/Documents/Python_Projects/.git/

In [77]:
!git add .

warning: in the working copy of 'helloworld.ipynb', LF will be replaced by CRLF the next time Git touches it

In [78]:
!git commit -m "variables and data types, some functions"

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'USER@SPAK.(none)')