<a href="https://colab.research.google.com/github/Samuel5p4k/LearningPythonn/blob/main/helloworld.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Learning Python Language
print("Hello, World!")

Hello, World!

In [ ]:
#comments
'''Multiple line comments are
 comments that span multiple line of code
they are written by enclosing the comment text in triple
single or double quotation marks.'''

"""exhibit
    two """

'exhibit \n    two '

Variables

In [ ]:
#Variables
a = "Samuel"
b = "Kikule"
c = "CSC Student"
print(a, b,"is a", c)

greeting = 'Merry Christmas!'
print(greeting)

Samuel Kikule is a CSC Student
Merry Christmas!

In [ ]:
#variable_Names examples
'''
name : a string storing a persons name
age : a string storing a persons age
grades : a list of grades students scored
phonebook : a dictionary storing phone number and names
number
data1
data2
fname
lname
stdno
stdnum
Regno '''

In [ ]:
#Case sensiitivity
Name = 1
name = 2

print(name , Name)

2 1

In [ ]:
#Creating and assigning variables
name = "Samuel" #creates a string variable name and assigns it a value Samuel
age = 27 #creates a integer variable age and assigns it a value 27
print(name, age)

Samuel 27

In [ ]:

#assigning multiple varialbles in one line
name, age = "samuel", 28
print(name, age)

samuel 28

In [ ]:
#Data Types
x = 3
print(x)
type(x)

3

int

In [ ]:
a = 0.256
print(a)
type(a)

0.256

float

In [ ]:
b = "my name"
print(b)
type(b)

my name

str

In [ ]:
c = [2, 9, 1, 5, 6]
print(c)
type(c)

[2, 9, 1, 5, 6]

list

In [ ]:
d = (2, 9, 1, 5, 6)
print(d)
type(d)

(2, 9, 1, 5, 6)

tuple

In [ ]:
data = {'name' : "Samuel", 'age' : 27, "course": "CSC" }
print(data)
type(data)

{'name': 'Samuel', 'age': 27, 'course': 'CSC'}

dict

In [ ]:
intern_ages = {18, 25, 28, 22, 1, 5, 15, 5, 5}
print(intern_ages)

{1, 18, 5, 22, 25, 28, 15}

In [ ]:
#Dynamic Type property of Python Language
n = 3
print(n)
type(n)

n = "Sammie"
print(n)
type(n)

3
Sammie

str

In [ ]:
k = "Kikule"
s = "Samuel"
print(s + k)

SamuelKikule

In [ ]:
!git init

Reinitialized existing Git repository in C:/Users/USER/Documents/Python_Projects/.git/

In [ ]:
!git add .

warning: in the working copy of 'helloworld.ipynb', LF will be replaced by CRLF the next time Git touches it

In [ ]:
!git push

Everything up-to-date

#Exercises

In [ ]:
greeting = "Hello, World!"

In [ ]:
first_name = "Samuel"
last_name = "Kikule"
fullname = first_name +" "+ last_name
print(fullname)

Samuel Kikule

In [ ]:
pi = 3.14159
radius = 5
area = pi * (radius**2)
print(area)

78.53975

In [ ]:
person = {"name": "SamueL", "age": 27}

In [ ]:
#SHared references
L1 = [1, 2, 2, 3, 4, 5, 6]
L2 = L1

L2[2] = 300
print(L1)
print(L2)

[1, 2, 300, 3, 4, 5, 6]
[1, 2, 300, 3, 4, 5, 6]

In [ ]:
# the 'is' operator returns true of false if two variables share a same reference or not
x = 10
y = x
z = 11

print(x is y)
print(x is z)

True
False

In [ ]:
#the type() function returns the datatype calss to which the parameter belongs
x = 10
y = "Hello"
z = [1, 2, 3]
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'list'>

In [ ]:
#the isinstance(x, type) returns true or false
x = 10
y = "Hello"
z = [1, 2, 3]
print(isinstance(x, int))
print(isinstance(y, str))
print(isinstance(z, list))

True
True
True

In [ ]:
print(isinstance(x, object))
print(isinstance(y, object))
print(isinstance(z, object))

True
True
True

In [ ]:
print(type(43))
print(type(3.14))
print(type(2+3j))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
#Operation on Numbers
2 + 3
2.0 + 3.1
3 + 5.2

8.2

In [ ]:
5 - 9
4 - 2.56

1.44

In [ ]:
9 * 26

234

In [ ]:
#Built in Numerical tools
z = 2 + 3j
abs(z)

3.605551275463989

In [ ]:
x = 3.14159
round(x, 3)

3.142

In [ ]:
import math
math.sin(math.pi/6)

0.49999999999999994

In [ ]:
import random
random.randint(1,100)

42

In [ ]:
from decimal import Decimal
Decimal('3.14159')
Decimal('3.14159').quantize(Decimal('0.0001'))

Decimal('3.1416')

In [ ]:
from fractions import Fraction
Fraction(2, 5)

Fraction(2, 5)

In [ ]:
Fraction(2,3) + Fraction(3,2)

Fraction(13, 6)

In [ ]:
cmath.sqrt(-1)

1j

In [ ]:
#Formating the display of numbers, using string formating
#Controlling the number of digits/ allignment/ the sign/grouping etc

In [ ]:
!git init

Reinitialized existing Git repository in C:/Users/USER/Documents/Python_Projects/.git/

In [ ]:
!git add .

warning: in the working copy of 'helloworld.ipynb', LF will be replaced by CRLF the next time Git touches it

In [ ]:
!git commit -m "variables and data types, some functions"

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'USER@SPAK.(none)')

In [ ]:
#Numeric Display Formats

In [ ]:
x = 2.32132
print("%.2f" %x)

2.32

In [ ]:
x = 2.32132
print("%08.2f" %x)

00002.32

In [ ]:
n = 12121212333
print(format(n,","))

12,121,212,333

Comparison Operators.

In [ ]:
# ==, !=, >, <, >=, <=,

In [ ]:
#Division operators:
"""/ - true division, returns float
// - floor division, returns an integer
% - modulo division, returns the remainder of the division of the operands"""

In [ ]:
#Combining of operators

x = 15
x /= 4
x

3.75

In [ ]:
x = 15
x //= 4
x

3

In [ ]:
x = 15
x %= 4
x

3

In [ ]:
#Integer Precision
import math
math.factorial(1000)

402387260077093773543702433923003985719374864210714632543799910429938512398629020592044208486969404800479988610197196058631666872994808558901323829669944590997424504087073759918823627727188732519779505950995276120874975462497043601418278094646496291056393887437886487337119181045825783647849977012476632889835955735432513185323958463075557409114262417474349347553428646576611667797396668820291207379143853719588249808126867838374559731746136085379534524221586593201928090878297308431392844403281231558611036976801357304216168747609675871348312025478589320767169132448426236131412508780208000261683151027341827977704784635868170164365024153691398281264810213092761244896359928705114964975419909342221566832572080821333186116811553615836546984046708975602900950537616475847728421889679646244945160765353408198901385442487984959953319101723355556602139450399736280750137837615307127761926849034352625200015888535147331611702103968175921510907788019393178114194545257223865541461062892187960223838971476088506276862967146674697562911234082439208160153780889893964518263243671616762179168909779911903754031274622289988005195444414282012187361745992642956581746628302955570299024324153181617210465832036786906117260158783520751516284225540265170483304226143974286933061690897968482590125458327168226458066526769958652682272807075781391858178889652208164348344825993266043367660176999612831860788386150279465955131156552036093988180612138558600301435694527224206344631797460594682573103790084024432438465657245014402821885252470935190620929023136493273497565513958720559654228749774011413346962715422845862377387538230483865688976461927383814900140767310446640259899490222221765904339901886018566526485061799702356193897017860040811889729918311021171229845901641921068884387121855646124960798722908519296819372388642614839657382291123125024186649353143970137428531926649875337218940694281434118520158014123344828015051399694290153483077644569099073152433278288269864602789864321139083506217095002597389863554277196742822248757586765752344220207573630569498825087968928162753848863396909959826280956121450994871701244516461260379029309120889086942028510640182154399457156805941872748998094254742173582401063677404595741785160829230135358081840096996372524230560855903700624271243416909004153690105933983835777939410970027753472000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
#Converting between float and

In [1]:
x = 4569
y = float(x)
y

4569.0

In [2]:
pi = 3.1456846
int_pi = int(pi)
int_pi

3

In [4]:
!git config --global init.defaultBranch main

In [5]:
!git init

Reinitialized existing Git repository in /content/.git/

In [ ]:
git add